@page "/Invoice/{id}"
@using BlazorApp.Extensions
@using BlazorApp.Pages
@using LiteInvoice.Database
@model BlazorApp.Pages.InvoiceModel

<section class="d-flex justify-content-between">
	@{
		var biz = Model.Invoice.Project.Customer.Business;
	}
	<div>
		<h1>Invoice @Model.Invoice.Number</h1>
		<div>from @biz.Name</div>
		@Model.Invoice.Date.ToString("M/d/yy") | <strong>@Model.Total.ToString("c2")</strong>
	</div>	

	<div class="me-4">
		<div>Pay to:</div>
		<partial name="_ContactInfo" model="biz" />
	</div>
</section>

<hr />

<section class="mt-4">
	<div>Bill to:</div>
	<partial name="_ContactInfo" model="@Model.Invoice.Project.Customer" />
</section>

<section class="mt-4">
	<table class="table table-striped">
		<tr>
			<th>Date</th>
			<th>Description</th>
			<th class="text-end">Qty @@ Rate</th>
			<th class="text-end">Amount</th>
		</tr>
		@foreach (var hour in Model.Data.Hours)
		{
			<tr>
				<td>@hour.Date.ToString("M/d/yy")</td>
				<td>@hour.Description</td>
				<td class="text-end">@hour.Hours.ToString("n2") hrs @@ @hour.Rate.ToString("c2")</td>				
				<td class="text-end">@((hour.Hours * hour.Rate).ToString("c2"))</td>
			</tr>
		}
		@foreach (var row in Model.Data.Expenses)
		{
			<tr>
				<td>@row.Date.ToString("M/d/yy")</td>
				<td>@row.Description</td>
				<td><!--empty cell--></td>
				<td class="text-end">@row.Amount.ToString("c2")</td>
			</tr>
		}
		<tr>
			<td colspan="3"></td>
			<td class="text-end fw-bold border-top">@Model.Total.ToString("c2")</td>
		</tr>
	</table>
</section>

@if (Model.PaymentMethods.Any())
{
	<section class="mt-4">
		<h4 class="text-center">Payment Methods</h4>
		<div class="d-flex justify-content-center">
			@foreach (var pm in Model.PaymentMethods)
			{
				<div class="card mx-2 p-2">
					<div class="card-title"><strong>@pm.Name</strong></div>
					@if (!string.IsNullOrWhiteSpace(pm.Instructions))
					{
						<details style="max-width:300px">
							<summary>More Info</summary>
							<p>@pm.Instructions</p>
						</details>
					}
					@if (pm.Type == PaymentMethodType.MailingAddress)
					{
						<partial name="_MailingAddress" model="Model.Invoice.Project.Customer.Business" />
					}
					@if (pm.Type == PaymentMethodType.StaticLink)
					{
						<a href="@pm.Data" target="_blank">@pm.Data</a>
					}
					@if (pm.Type == PaymentMethodType.BusinessPhone)
					{
						<p>@Model.Invoice.Project.Customer.Business.Phone.ToPhoneNumber()</p>
					}
				</div>
			}
		</div>
	</section>
}


<section class="mt-4">
	<h4 class="text-center">All Invoices</h4>
	<p class="text-center"><a href="/Customer/@Model.CustomerId" target="_blank">View all invoices here</a></p>
</section>